<configuration>
    <!-- Определение правил конверсии цветов -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />

    <!-- Цвета для различных уровней логирования -->
    <property name="INFO_COLOR" value="green" />
    <property name="WARN_COLOR" value="yellow" />
    <property name="ERROR_COLOR" value="red" />
    <property name="DEBUG_COLOR" value="magenta" />
    <property name="DEFAULT_COLOR" value="white" />

    <!-- Консольный аппендер с цветами -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %clr(%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}){faint}\t%clr(%-5level){INFO_COLOR=green, WARN_COLOR=yellow, ERROR_COLOR=red, DEBUG_COLOR=magenta, DEFAULT_COLOR=white}\t%clr(%thread){faint}\t---\t%clr([%logger{36}]){cyan}\t%clr([%mdc]){faint}\t:\t%msg%n%wex
            </pattern>
        </encoder>
    </appender>

    <!-- Файловый аппендер для ошибок -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/errors.log</file>
        <maxHistory>7</maxHistory>
        <maxFileSize>5MB</maxFileSize>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level %thread --- [%logger{36}] [%mdc] : %msg%n%wex</pattern>
        </encoder>
    </appender>

    <!-- Логгер для ошибок -->
    <logger name="com.example.demo" level="ERROR" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.example.demo" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    
    <!-- Настройка уровня логирования и аппендеров -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Логгер для Logback -->
    <logger name="ch.qos.logback" level="ERROR" />
</configuration>
